<h1>{{title}}</h1>

<h3 id="info">Идет поиск соперника ...</h3>

<div id="filed">
    <canvas id="player1" width="310" height="310"></canvas>
    <canvas id="player2" width="310" height="310"></canvas>
</div>

<button id="resignButton">Сдаюсь!!!!</button>
<button id="newGameButton" >Нвйти новую игру</button>

<p></p>

<div id="chat">
    <textarea name="name" rows="8" cols="40"></textarea>
    <p></p>
    <input type="text" name="text" size="20">
    <button type="button" name="button">Отправить</button>
</div>
<script src="/javascripts/game.js"></script>
