<h1>{{title}}</h1>
<button id="getAutoShipsPlacement">Авторасстановка</button>
<button id="handlShipsPlacement">Ручная расстановка</button>
<div id="filed">
    <canvas id="field" width="310" height="310"></canvas>
</div>

<input type="text" placeholder="Имя (не обязательно)" id="userName"/>
<button id="startButton">В бой!!!</button>

<script src="/javascripts/setup.js"></script>
